.main-body {
    width   : 628px;
    margin  : auto;
    position: relative;
    top     : 5vh;
}

.card-content {

    height: 550px;

}

.margin-transform {
    transform: translateY(-32vh);
}

.card-body-wrapper {
    p {
        font-style : normal;
        font-weight: bold;
        font-size  : 14px;
        line-height: 19px;
        color      : #333333;
    }

    h4 {
        font-size  : 24px;
        line-height: 33px;
        color      : #333333;
        margin     : 0;
        max-width  : 78%;
    }

    h5 {
        font-weight: normal;
        font-size  : 14px;
        line-height: 19px;
        color      : #999999;
        margin-top : 10px;
    }

    span{
        color: #5F22E0;
    }
}

.svg-img-wrapper {
    display        : flex;
    justify-content: center;
    align-items    : flex-start;
    transform      : translateY(-25vh);

    img {
        height: 250px;
        width : auto;
    }
}

.common-btn-wrapper {
    display  : flex;
    flex-wrap: wrap;

    .MuiButton-contained {
        background-color: #f2edfd !important;
        color           : black !important;
        margin          : 10px !important;
    }
}

.continue-btn-wrapper {
    display        : flex;
    justify-content: center;

    .MuiButton-contained {
        background-color: #5F22E0 !important;
        color           : white !important;
        margin-top      : 5vh !important;
    }
}

.button-back {
    position: absolute;

    div {
        font-weight: bold;
        font-size  : 16px;
        line-height: 22px;
    }
}

.button-back span {

    font-weight: bold;
    font-size  : smaller;
}