.main-body {
    width: 628px;
    margin: auto;
    position: relative;
    top: 10vh;
}

.card-content {
    height: 500px;
}

.top-buttons {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.top-buttons div:nth-child(1) {
    float: left;
}

.top-buttons div:nth-child(2) {
    float: right;
}

.button-back span {
    font-weight: bold;
    font-size: smaller;
    text-transform: none;
}

.button-skip span {
    font-weight: bold;
    font-size: smaller;
    color: #5F22E0;
    text-transform: none;
}

.body-component {
    height: 85%;
    top: 0%;
    display: flex;
    transform: translateY(-150px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-buttons {
    /* border: 1px solid blue; */
    position: absolute;
    width: 100%;
    height: 14%;
    margin: 0 -16px;
    bottom: 0;
}

.bottom-buttons a {
    color: white;
    text-decoration: none;
}

.cont-button {
    background: #5F22E0;
    width: 25%;
    border-radius: 100vw !important;
    font-size: 11px !important;
    position: relative !important;
    left: 38% !important;
    text-transform: none !important;
}

.pagination-block {
    position: relative;
    left: 49%;
    font-size: 13px;
    padding-top: 5px;
}