@import '../src/Assets/Styles/utility.scss';

.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.opt-area{
  margin-top: 15px !important;
}

/* #root{
  width: max-content;
} */

body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.41), rgba(0, 0, 0, 0.41)), #FFFFFF;
  font-family: OpenSans;
}

@media(max-width: 650px){
  .main-body {
    width: 95vw !important;
    margin: auto;
    position: relative;
    top: 5vh !important;
    .card-content {
      height: 500px;
   }
  }
  .line-one{
    span{
      font-size: 14px !important;
    }
  }
  .form-area {
    width: 90% !important;
    margin-top: 20px;
    .input-area-half {
      width: 40% !important;
      margin-bottom: 5px !important;
      float: left;
    }
  }
  .body-component {
    height: 82% !important;
  }
}

.MuiSelect-selectMenu {
  padding-left: 10px !important;
}

.text-area{
  text-align: center;
}

em{
  font-style: normal !important;
}