.text-area-three {
    position: relative;
    width: 85%;
    transform: translateY(-130px);
}

.text-area-three>div {
    margin: 10px 0;
}

.line-one>span {
    font-size: 18px;
    font-weight: 700;
}

.line-one>span span {
    color: #5F22E0;
}

.form-area {
    width: 75%;
    margin-top: 20px;
    transform: translateY(-100px);
}

.MuiInput-underline:before {
    border: none !important;
}

.MuiInput-underline:hover {
    border: none !important;
}

.MuiInputBase-root input {
    background: #F9F9FB;
    font-size: 12px;
    padding: 0 10px;
    height: 30px;
}

.input-legends {
    margin: 0 8px !important;
    font-weight: 700;
    font-size: 11px;
    width: 100%;
}

.input-legends span {
    color: #6F6E6E;
    font-weight: 400;
    font-size: 10px;
    margin-left: 12px;
}

.MuiInput-root {
    width: 100%;
    margin: 2px 8px !important;
}

.input-area {
    width: 100% !important;
    margin-bottom: 0px !important;
    padding: 2px 0 !important;
}

.input-area-half {
    width: 46% !important;
    margin-bottom: 5px !important;
    float: left;
    transform: translateY(-25px);
}

.MuiSelect-selectMenu {
    background: #F9F9FB !important;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 13px !important;
}

.leg-text {
    color: #6F6E6E;
    font-weight: 400;
    font-size: 10px;
}


.radio-container span {
    transform: scale(.8);
    font-size: 12px;
}

.MuiMenu-paper{
    max-height: calc(100% - 60%) !important;
}

.leg-text img{
    height: 13px;
    width: auto;
    margin-right: 4px;
}



